.hero-banner {
    background-image: url("../assets/Desktop/Banner-carousel\ 1\ _\ 1440\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    width: 100%;
    margin-top: -3px;
}