@import 'base';

nav {
    background-color: $black-1;
    position: sticky;
    display: flex;
    align-items: center;
    min-height: 4rem;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__left {
        display: flex;
        align-items: center;
        gap: 40px;

        .navbar__links {
            display: flex;
            gap: 32px;

            .navbar__links-item {
                list-style: none;                

                a { 
                    text-decoration: none; 
                    color: $white;
                    font-size: 16px;
                }
            }
        }
    }

    .navbar__right {
        form {
            display: flex;
            gap: 1rem;

            .search-bar {
                width: 100%;
                border-radius: 0;
                outline: none;
                border: 2px solid $grey-3;
                padding: 8px 16px;
                font-family: 'Inter', sans-serif;
                color: $black-1;

                &::placeholder {
                    color: $grey-1;
                }
                &:focus {
                    outline: 3px solid #ffffff5e;
                }

            }

            .submit-search {
                @include outline-btn;

                &:hover {
                    background-color: #ffffff5e;
                }
            }
        }
    }
}