@import 'variables';

.categorias {
    margin-top: 2rem;
}

.category__card__wrapper {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.category__card {
    display: flex;
    flex-direction: column;
    outline: solid 2px transparent;
    outline-offset: 4px;

    transition: .2s ease-in-out;

    &__image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__title {
        background-color: $black-1;
        text-align: center;
        padding: .5rem 0;

        span {
            color: $white;
            font-size: 16px;
            font-weight: 500;
        }
    }

    &:hover {
        cursor: pointer;
        outline: solid 2px $primary-purple;
        outline-offset: 4px;
    }

    &:focus-visible {
        border: 2px solid $black-1;
        outline: solid 3px $white;
        outline-offset: 1px;
        border-radius: 4px;
        padding: 2px;
        transition: none;
    }
}

.category__card.active {
    outline: solid 2px $primary-purple;
    outline-offset: 4px;
    transform: scale(1.07);
}

// mobile
@media (max-width: $breakpoint-mobile) {

    .category__card {
        flex-basis: 40%;
    }
}