@import 'variables';

.facilidades {
    background-color: $black-1;
    padding: 4rem 0;

    h2 {
        color: $white;
    }

    .facilidades__card_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        

        margin-top: 3rem;

        .facilidades__card {
            display: flex;
            align-items: center;
            gap: 5%;

            &__content {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &-title {
                    color: $primary-yellow;
                    font-weight: 700;
                    font-size: 20px;
                }

                &-text {
                    color: $white;
                }
            }
        }
    }
}

// tablet
@media (max-width: $breakpoint-tablet) {

    .facilidades__card_wrapper {
        flex-direction: column;
    }

    .facilidades__card {
        width: 480px;
    }
}

// mobile 
@media (max-width: $breakpoint-mobile) {
    .facilidades__card {
        width: 100%;
    }
}