@import 'variables';

.navbar__wrapper {
    background-color: $black-1;
    position: sticky;
    top: 0;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;

        &__left {
            display: flex;
            align-items: center;
            gap: 40px;
            
            .mobile-menu {
                display: none;
            }

            nav {
                .navbar__links {
                    display: flex;
                    gap: 32px;
        
                    .close-menu-btn {
                        display: none;
                    }
        
                    .navbar__links-item {
                        list-style: none;                
        
                        a { 
                            text-decoration: none; 
                            color: $white;
                            font-size: 16px;
                            transition: .4s ease;
        
                            &:hover {
                                color: $primary-yellow;
                            }
                        }
                    }
                }
            }            
        }

        &__right {
            display: flex;
            gap: 16px;
    
            form {
                display: flex;
                gap: 1rem;
    
                .search-bar {
                    width: 100%;
                    border-radius: 0;
                    outline: none;
                    border: 2px solid $grey-3;
                    padding: 8px 16px;
                    font-family: 'Inter', sans-serif;
                    color: $black-1;
    
                    &::placeholder {
                        color: $grey-1;
                    }
                    &:focus {
                        outline: 3px solid #ffffff5e;
                    }
                }
                .submit-search {
                    @include outline-btn($white);
                    transition: .3s ease;
    
                    &:hover {
                        background-color: $primary-yellow;
                        color: $black-2;
                    }
                }
            }
        }

        button {
            padding: 6px;
            cursor: pointer;
            width: 30px;
            height: 30px;

            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s;

            svg path {
                fill: $white;
            }

            &:hover {
                background-color: #ffffff2d;
            }

            &:focus-visible {
                border: 2px solid $black-1;
                outline: solid 2px $white;
                outline-offset: 1px;
                border-radius: 4px;
                transition: none;
            }
        }
    }
}

@media (max-width: 900px) {
    .navbar__wrapper {
        padding: 0;

        .navbar {
            flex-direction: column;
    
            &__left {
                width: 100%;
                padding: 10px 16px;
                justify-content: space-between;
    
                .mobile-menu {
                    display: block;
                    padding: .3rem;
                    cursor: pointer;
                }            

                nav {
                    background-color: $black-2;
                    display: block;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transform: translateX(500px);
                    z-index: 9999;
                    color: white;

                    visibility: hidden;
                    transition: .6s ease;

                    .navbar__links {
                        display: flex;
                        gap: 2rem;
                        flex-direction: column;
                        align-items: center;

                        .close-menu-btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 1rem;
                            cursor: pointer;
                            margin-top: 1.3rem;
                            margin-left: auto;
                            margin-right: 2rem;
                        }
        
                        .navbar__links-item {
                            text-align: center;
                            width: 100%;
                        }

                        .navbar__links-item a {
                            display: inline-block;
                            font-size: 1.5rem;
                            padding: 2rem 1rem;
                            border-bottom: 1px solid transparent;
                            transition: .4s;
                            
                            &:hover {
                                border-bottom: 1px solid $secondary-pink;
                            }
                        }
                    }
                }

                nav.active {
                    opacity: 1;
                    transform: translateX(0);
    
                    visibility: visible;
                }
            }
    
            &__right {
                width: 100%;
                background-color: $white;
                padding: 16px;
    
                form {
                    flex-grow: 1;

                    .search-bar {
                        padding: 0px 10px;
                    }

                    .submit-search {
                        @include outline-btn($black-1);
                    }
                }

                button {
                    padding: 2px;

                    svg path {
                        fill: $black-2;
                    }
                }
            }
        }
    }
}