// Variables
$black-1: #000000;
$black-2: #212529;

$white: #FFFFFF;
$grey-1: #6C757D;
$grey-2: #CCCCCC;
$grey-3: #CED4DA;

$primary-yellow: #DAFF01;
$primary-purple: #9353FF;
$primary-purple-2: #a570ff;

$secondary-pink: #EE6471;
$secondary-orange: #F87F46;

// breakpoints
$breakpoint-tablet: 900px;
$breakpoint-mobile: 450px;


// Mixins
@mixin outline-btn($color) {
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    outline: none;
    border: 1px solid $color;
    color: $color;
    background: transparent;
    padding: 8px 16px;
}

@mixin primary-btn($color, $text) {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.457px;
    cursor: pointer;
    outline: none;
    color: $text;
    background: $color;
    padding: 8px 16px;
    width: fit-content;
    transition: .4s;

    &:hover {
        background: $primary-purple-2;
    }
}

@mixin modal-general($width) {
    width: $width;
    border: none;
    margin: auto;

    border-radius: 4px;
    background: $white;
    box-shadow: 0px 4px 15px 4px #0f172245;

    &::backdrop {
        background: rgba(0, 0, 0, .7);
    }

    header {
        background-color: $black-1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        padding: 1rem 1.5rem;

        .modal__title {
            flex-grow: 1;
            h2{
                color: $white;
                font-weight: 500;
                font-size: 20px;
                text-align: left;
            }
        }

        button {
            padding: 1rem;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background-color: #ffffff17;
            }
        }
    }
}