nav {
  background-color: #000000;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 70px;
  z-index: 2;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar__left {
  display: flex;
  align-items: center;
  gap: 40px;
}
nav .navbar__left .mobile-menu {
  display: none;
}
nav .navbar__left .navbar__links {
  display: flex;
  gap: 32px;
}
nav .navbar__left .navbar__links .close-menu-btn {
  display: none;
}
nav .navbar__left .navbar__links .navbar__links-item {
  list-style: none;
}
nav .navbar__left .navbar__links .navbar__links-item a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  transition: 0.4s ease;
}
nav .navbar__left .navbar__links .navbar__links-item a:hover {
  color: #DAFF01;
}
nav .navbar__right {
  display: flex;
  gap: 16px;
}
nav .navbar__right form {
  display: flex;
  gap: 1rem;
}
nav .navbar__right form .search-bar {
  width: 100%;
  border-radius: 0;
  outline: none;
  border: 2px solid #CED4DA;
  padding: 8px 16px;
  font-family: "Inter", sans-serif;
  color: #000000;
}
nav .navbar__right form .search-bar::-moz-placeholder {
  color: #6C757D;
}
nav .navbar__right form .search-bar::placeholder {
  color: #6C757D;
}
nav .navbar__right form .search-bar:focus {
  outline: 3px solid rgba(255, 255, 255, 0.368627451);
}
nav .navbar__right form .submit-search {
  font-family: "Inter", sans-serif;
  cursor: pointer;
  outline: none;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background: transparent;
  padding: 8px 16px;
  transition: 0.3s ease;
}
nav .navbar__right form .submit-search:hover {
  background-color: #DAFF01;
  color: #212529;
}
nav .navbar__right button {
  padding: 6px;
  cursor: pointer;
  transition: 0.3s;
}
nav .navbar__right button:hover {
  background-color: rgba(255, 255, 255, 0.1764705882);
}
nav .navbar__right button:focus-visible {
  border: 2px solid #000000;
  outline: solid 2px #FFFFFF;
  outline-offset: 1px;
  border-radius: 4px;
  transition: none;
}

@media (max-width: 900px) {
  nav {
    background-color: #FFFFFF;
    height: 130px;
  }
  nav .navbar {
    flex-direction: column;
  }
  nav .navbar__left {
    width: 100%;
    justify-content: space-between;
    background-color: #000000;
  }
  nav .navbar__left::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 62px;
    left: 0;
    top: 0;
    background-color: #000000;
    z-index: -1;
  }
  nav .navbar__left .mobile-menu {
    display: block;
    padding: 0.3rem;
    cursor: pointer;
  }
  nav .navbar__left .navbar__links {
    position: fixed;
    background-color: #212529;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(700px);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    transition: 1s;
  }
  nav .navbar__left .navbar__links .close-menu-btn {
    display: block;
    padding: 1rem;
    cursor: pointer;
    margin-top: 1.3rem;
    margin-left: auto;
    margin-right: 2rem;
  }
  nav .navbar__left .navbar__links .navbar__links-item {
    text-align: center;
    width: 100%;
  }
  nav .navbar__left .navbar__links .navbar__links-item a {
    display: inline-block;
    font-size: 1.5rem;
    padding: 2rem 1rem;
    border-bottom: 1px solid transparent;
    transition: 0.4s;
  }
  nav .navbar__left .navbar__links .navbar__links-item a:hover {
    border-bottom: 1px solid #EE6471;
  }
  nav .navbar__left .navbar__links.active {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  nav .navbar__right {
    margin-top: 1.5rem;
    background-color: #FFFFFF;
    width: 100%;
  }
  nav .navbar__right form .submit-search {
    font-family: "Inter", sans-serif;
    cursor: pointer;
    outline: none;
    border: 1px solid #000000;
    color: #000000;
    background: transparent;
    padding: 8px 16px;
  }
}
.swiper {
  width: 100%;
  height: 415px;
}
.swiper .swiper-button-prev::after {
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  top: 1px;
  right: 1px;
  color: #FFFFFF;
}
.swiper .swiper-button-next::after {
  position: relative;
  font-size: 1.2rem;
  font-weight: 800;
  top: 1px;
  left: 1px;
  color: #FFFFFF;
}
.swiper .swiper-pagination-bullet-active {
  background: #FFFFFF;
}

.swiper-wrapper .s1, .swiper-wrapper .s2, .swiper-wrapper .s3 {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.swiper-wrapper .s1 {
  background-image: url("../assets/Desktop/Banner_carousel_1_1900.png");
}
.swiper-wrapper .s2 {
  background-image: url("../assets/Desktop/Banner_carousel_2_1900.png");
}
.swiper-wrapper .s3 {
  background-image: url("../assets/Desktop/Banner_carousel_3_1900.png");
}

@media (max-width: 1440px) {
  .swiper-wrapper .s1 {
    background-image: url("../assets/Desktop/Banner_carousel_1_1440.png");
  }
  .swiper-wrapper .s2 {
    background-image: url("../assets/Desktop/Banner_carousel_2_1440.png");
  }
  .swiper-wrapper .s3 {
    background-image: url("../assets/Desktop/Banner_carousel_3_1440.png");
  }
}
@media (max-width: 900px) {
  .swiper-wrapper .s1 {
    background-image: url("../assets/Tablet/Banner_carousel_1_768.png");
  }
  .swiper-wrapper .s2 {
    background-image: url("../assets/Tablet/Banner_carousel_2_768.png");
  }
  .swiper-wrapper .s3 {
    background-image: url("../assets/Tablet/Banner_carousel_3_768.png");
  }
}
@media (max-width: 450px) {
  .swiper-wrapper .s1 {
    background-image: url("../assets/Mobile/Banner_carousel_1_450.png");
  }
  .swiper-wrapper .s2 {
    background-image: url("../assets/Mobile/Banner_carousel_2_450.png");
  }
  .swiper-wrapper .s3 {
    background-image: url("../assets/Mobile/Banner_carousel_3_450.png");
  }
}
@media (max-width: 375px) {
  .swiper-wrapper .s1 {
    background-image: url("../assets/Mobile/Banner_carousel_1_375.png");
  }
  .swiper-wrapper .s2 {
    background-image: url("../assets/Mobile/Banner_carousel_2_375.png");
  }
  .swiper-wrapper .s3 {
    background-image: url("../assets/Mobile/Banner_carousel_3_375.png");
  }
}
.categorias {
  margin-top: 2rem;
}

.category__card__wrapper {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.category__card {
  display: flex;
  flex-direction: column;
  outline: solid 2px transparent;
  outline-offset: 4px;
  transition: 0.2s ease-in-out;
}
.category__card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.category__card__title {
  background-color: #000000;
  text-align: center;
  padding: 0.5rem 0;
}
.category__card__title span {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}
.category__card:hover {
  cursor: pointer;
  outline: solid 2px #9353FF;
  outline-offset: 4px;
}
.category__card:focus-visible {
  border: 2px solid #000000;
  outline: solid 3px #FFFFFF;
  outline-offset: 1px;
  border-radius: 4px;
  padding: 2px;
  transition: none;
}

.category__card.active {
  outline: solid 2px #9353FF;
  outline-offset: 4px;
  transform: scale(1.07);
}

@media (max-width: 450px) {
  .category__card {
    flex-basis: 40%;
  }
}
.produtos {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.produtos__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 2rem 0;
}

.produtos__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #CED4DA;
  background: #FFFFFF;
}
.produtos__card__image {
  overflow: hidden;
  height: 30rem;
}
.produtos__card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.produtos__card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  padding: 1.4rem;
}
.produtos__card__content-title {
  color: #212529;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
}
.produtos__card__content-description {
  color: #212529;
  font-size: 14px;
  line-height: 20px;
  flex-grow: 1;
}
.produtos__card__content-price {
  color: #212529;
  font-size: 20px;
  font-weight: 700;
}
.produtos__card__content button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.457px;
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  background: #9353FF;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.4s;
}
.produtos__card__content button:hover {
  background: #a570ff;
}
.produtos__card__content button:focus-visible {
  border: 2px solid #000000;
  outline: solid 2px #FFFFFF;
  outline-offset: 1px;
  border-radius: 4px;
  transition: none;
}

@media (max-width: 900px) {
  .produtos__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 450px) {
  .produtos__wrapper {
    grid-template-columns: 1fr;
  }
  .produtos__card__image {
    height: 25rem;
  }
}
.facilidades {
  background-color: #000000;
  padding: 4rem 0;
}
.facilidades h2 {
  color: #FFFFFF;
}
.facilidades .facilidades__card_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
.facilidades .facilidades__card_wrapper .facilidades__card {
  display: flex;
  align-items: center;
  gap: 5%;
}
.facilidades .facilidades__card_wrapper .facilidades__card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.facilidades .facilidades__card_wrapper .facilidades__card__content-title {
  color: #DAFF01;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}
.facilidades .facilidades__card_wrapper .facilidades__card__content-text {
  color: #FFFFFF;
}

@media (max-width: 900px) {
  .facilidades__card_wrapper {
    flex-direction: column;
  }
  .facilidades__card {
    width: 480px;
  }
}
@media (max-width: 450px) {
  .facilidades__card {
    width: 100%;
  }
}
.newsletter {
  padding: 4rem 0;
}

.newsletter__wrapper {
  border: 2px solid #000000;
  padding: 3rem;
  max-width: 800px;
  margin-inline: auto;
}
.newsletter__wrapper .newsletter__title h3 {
  font-size: 20px;
  text-align: center;
  width: 75%;
  margin-inline: auto;
  font-weight: 400;
}
.newsletter__wrapper .newsletter__title h3 span {
  font-weight: 700;
}
.newsletter__wrapper .newsletter__form {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter__wrapper .newsletter__form div {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.newsletter__wrapper .newsletter__form div span {
  font-size: 14px;
}
.newsletter__wrapper .newsletter__form input {
  border-radius: 0;
  outline: none;
  padding: 1rem;
  border: 1px solid #000000;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.newsletter__wrapper .newsletter__form button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.457px;
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  background: #9353FF;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.4s;
  align-self: flex-start;
  padding: 1rem;
}
.newsletter__wrapper .newsletter__form button:hover {
  background: #a570ff;
}
.newsletter__wrapper .newsletter__form button:focus-visible {
  border: 2px solid #000000;
  outline: solid 2px #FFFFFF;
  outline-offset: 1px;
  border-radius: 4px;
  transition: none;
}

@media (max-width: 900px) {
  .newsletter__wrapper .newsletter__title h3 {
    width: 100%;
  }
  .newsletter__wrapper .newsletter__form input {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .newsletter__wrapper {
    padding: 2rem;
  }
  .newsletter__wrapper .newsletter__title h3 {
    width: 100%;
  }
  .newsletter__wrapper .newsletter__form {
    flex-direction: column;
  }
  .newsletter__wrapper .newsletter__form div {
    width: 100%;
  }
  .newsletter__wrapper .newsletter__form input {
    width: 100%;
  }
  .newsletter__wrapper .newsletter__form button {
    margin-top: 0.6rem;
    padding: 0.6rem 0;
    width: 100%;
    text-align: center;
  }
}
footer {
  background-color: #000000;
  padding: 1rem 0;
}
footer p {
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
}

.modalProduto {
  width: 50rem;
  border: none;
  margin: auto;
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px 4px rgba(15, 23, 34, 0.2705882353);
}
.modalProduto::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
.modalProduto header {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
}
.modalProduto header .modal__title {
  flex-grow: 1;
}
.modalProduto header .modal__title h2 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}
.modalProduto header button {
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.modalProduto header button:hover {
  background-color: rgba(255, 255, 255, 0.0901960784);
}
.modalProduto header button:focus-visible {
  border: 2px solid #000000;
  outline: solid 2px #FFFFFF;
  outline-offset: 1px;
  border-radius: 4px;
  transition: none;
}
.modalProduto .modal__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  gap: 1.4rem;
}
.modalProduto .modal__wrapper .product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.modalProduto .modal__wrapper .product__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
.modalProduto .modal__wrapper .product__content hr {
  border: none;
  outline: none;
  height: 1px;
  background-color: #CED4DA;
}
.modalProduto .modal__wrapper .product__content__top {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.modalProduto .modal__wrapper .product__content__top-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 23px;
  color: #212529;
}
.modalProduto .modal__wrapper .product__content__top-description {
  color: #212529;
  font-size: 14px;
}
.modalProduto .modal__wrapper .product__content__top-description::after {
  content: "";
  display: block;
  margin-top: 1.4rem;
  height: 2px;
  width: 100%;
  background-color: #212529;
}
.modalProduto .modal__wrapper .product__content__top-price {
  color: #212529;
  font-size: 20px;
  font-weight: 500;
}
.modalProduto .modal__wrapper .product__content__top-seller {
  color: #ADB5BD;
  font-size: 13px;
}
.modalProduto .modal__wrapper .product__content__middle-title, .modalProduto .modal__wrapper .product__content__bottom-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  color: #212529;
}
.modalProduto .modal__wrapper .product__content__middle div, .modalProduto .modal__wrapper .product__content__bottom div {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-top: 0.4rem;
}
.modalProduto .modal__wrapper .product__content__middle div .radio-field, .modalProduto .modal__wrapper .product__content__bottom div .radio-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.modalProduto .modal__wrapper .product__content__middle div .radio-field input, .modalProduto .modal__wrapper .product__content__bottom div .radio-field input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
  border-radius: 50%;
  border: 0.6px solid #CED4DA;
}
.modalProduto .modal__wrapper .product__content__middle div .radio-field input:checked, .modalProduto .modal__wrapper .product__content__bottom div .radio-field input:checked {
  box-shadow: inset 0px 0px 0px 5px #9353FF;
}
.modalProduto .modal__wrapper .product__content button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.457px;
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  background: #9353FF;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.4s;
  display: flex;
  align-items: center;
  gap: 8px;
}
.modalProduto .modal__wrapper .product__content button:hover {
  background: #a570ff;
}
.modalProduto .modal__wrapper .product__content button:focus-visible {
  border: 2px solid #000000;
  outline: solid 2px #FFFFFF;
  outline-offset: 1px;
  border-radius: 4px;
  transition: none;
}

@media (max-width: 450px) {
  .modalProduto .modal__wrapper {
    grid-template-columns: 1fr;
  }
}
.modalNewsletter {
  width: 50rem;
  border: none;
  margin: auto;
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px 4px rgba(15, 23, 34, 0.2705882353);
}
.modalNewsletter::backdrop {
  background: rgba(0, 0, 0, 0.7);
}
.modalNewsletter header {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
}
.modalNewsletter header .modal__title {
  flex-grow: 1;
}
.modalNewsletter header .modal__title h2 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}
.modalNewsletter header button {
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.modalNewsletter header button:hover {
  background-color: rgba(255, 255, 255, 0.0901960784);
}
.modalNewsletter header button:focus-visible {
  border: 2px solid #000000;
  outline: solid 2px #FFFFFF;
  outline-offset: 1px;
  border-radius: 4px;
  transition: none;
}
.modalNewsletter .modal__wrapper {
  display: flex;
  padding: 1.5rem;
  gap: 1.4rem;
}
.modalNewsletter .modal__wrapper p {
  font-size: 18px;
  color: #212529;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  background-color: #FFFFFF;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

button {
  all: unset;
}

.container {
  margin-inline: auto;
  width: min(90%, 80rem);
}

h2 {
  font-size: 32px;
  font-weight: 500;
  color: #212529;
  text-align: center;
}/*# sourceMappingURL=main.css.map */