@use 'navbar';
@use 'banner';
@use 'categorias';
@use 'produtos';
@use 'facilidades';
@use 'newsletter';
@use 'footer';

@import 'variables';

// Base css
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: inherit;
}

body {
    background-color: $white;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

button {
    all: unset;
}

.container {
    margin-inline: auto;
    width: min(90%, 80rem);
}

h2 {
    font-size: 32px;
    font-weight: 500;
    color: $black-2;
    text-align: center;
}